.projects-section {
    padding: 2rem 1rem;
    background-color: rgb(167, 162, 158);
}

.projects-section-header {
    background-color: rgb(186, 198, 77);
    width: fit-content;
    padding: 1.5em;
    padding-right: 5em;
    margin: 1em 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.projects {
    color: rgb(37, 37, 66);
    font-family: "Major Mono Display", monospace;
}

.projects-description {
    font-size: 1.5em;
}

.projects-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 4em;
}

.projects-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.project-image {
    width: 35em;
}

.project-name {
    font-size: 1.5em;
    background-color: rgba(166, 156, 203, 0.788);
    width: fit-content;
    padding: 0.5em;
    border-radius: 3px;
}

.project-icon {
    margin-top: 0.5em;
}

.project {
    padding: 1.75em;
    margin: 1.5em 10px;
    height: 34em;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px rgb(255, 255, 255); */
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.project-links a {
    color: rgb(0, 128, 255);
    &:hover {
        color: rgb(186, 198, 77);
    }
}

.projects-grid-arrow {
    font-size: 40px;
    color: rgb(192, 115, 0);
    padding: 0.15em;
    border-radius: 5px;
    border-style: outset;
    border-color: rgb(167, 148, 133);

    &:hover {
        color: rgb(156, 203, 184);
        border-style: inset;
        border-color: rgb(167, 148, 133);
    }
}

button {
    height: fit-content;
    width: fit-content;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
    border-style: none;
    background-color: rgb(167, 162, 158);
}

.project-tech {
    font-weight: bold;
}

@media screen and (max-width: 800px) {

}