.contact-section {
    margin-top: 0px;
    padding: 1rem;
    padding-bottom: 8rem;
    display: flex;
}

.contact-info {
    background-color: rgb(239, 149, 74);
    margin-left: 3em;
    margin-top: 4rem;
    font-size: 1.5em;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 5px;
}

.contact {
    font-family: "Major Mono Display", monospace;
    font-size: 1.56em;
}

.seaweed {
    width: 40rem;
    position: absolute;
    left: 21rem;
    top: 86rem;
    z-index: 1;
}

.fish2 {
    position: absolute;
    width: 26rem;
    left: 24rem;
    top: 90rem;
    z-index: 0;
    animation: bob 5s infinite;
}

@keyframes bob {
    0% {
        transform: rotate();
    }

    50% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate();
    }
}

@media screen and (max-width: 600px) {

    .seaweed,
    .fish2 {
        display: none;
    }

    .contact-section {
        margin-top: 0px;
        padding-top: 0px;
    }

    .contact-info {
        width: 90vw;
        margin-left: 3rem;
    }
}