.about-me {
    height: 60vh;
    width: 80vw;
    background-size: cover;
    display: flex;
    margin: 1em;
}

.about-intro {
    margin: 5em;
    padding: 3em;
    background-color: rgb(249, 249, 244);
    width: fit-content;
    height: 10em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(175, 177, 174);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.icon {
    &:hover {
        animation: spin 1s ease-in-out;
        color: rgb(199, 137, 180);
    }

}

.bulbs {
    width: 40vw;
    height: fit-content;
}